# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log
*.bak
*.dat
*.dir
celerybeat-schedule

# venv

# other
.DS_Store
.vscode/
*media/
.venv/
venv/
data/
.idea/
test.sql
local_settings.py
docker-compose-local.yml
scorm/

# javascript
package-lock.json

Pipfile

*.override.*
userslist.txt
